@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,300;9..40,400;9..40,500;9..40,600;9..40,700;9..40,800;9..40,900&display=swap");
html, body {
  color: #191919;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
}

.wrapper-grid {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
}

.btn-yellow {
  background-color: #F9D783;
  border: 1px solid #F9D783;
  color: #191919;
  text-decoration: none;
  padding: 15px 30px;
  font-weight: 600;
  font-size: 16px;
  border-radius: 25px;
}
.btn-yellow:hover {
  background-color: #191919;
  border: 1px solid #191919;
  color: rgb(227, 223, 223);
}
.btn-yellow i {
  margin-left: 8px;
  font-size: 0.9em;
}

.btn-black {
  background-color: #191919;
  border: 1px solid #191919;
  color: #FFFFFF;
  text-decoration: none;
  padding: 15px 30px;
  font-weight: 600;
  font-size: 16px;
  border-radius: 25px;
}
.btn-black:hover {
  background-color: #FFFFFF;
  border: 1px solid #191919;
  color: #191919;
}
.btn-black i {
  margin-left: 8px;
  font-size: 0.9em;
}

.btn-transparent {
  background-color: transparent;
  border: 1px solid #191919;
  color: #191919;
  text-decoration: none;
  padding: 15px 30px;
  font-weight: 600;
  font-size: 16px;
  border-radius: 25px;
}
.btn-transparent:hover {
  background-color: #191919;
  border: 1px solid #191919;
  color: rgb(227, 223, 223);
}
.btn-transparent i {
  margin-left: 8px;
  font-size: 0.9em;
}

.section-title {
  padding-top: 70px;
  padding-bottom: 40px;
}
@media (min-width: 768px) {
  .section-title {
    padding-top: 120px;
    padding-bottom: 90px;
  }
}
.section-title p {
  color: #F94D1C;
  margin-bottom: 10px;
}
.section-title h2 {
  color: #191919;
  font-family: "Dm Sans", sans-serif;
  font-size: 45px;
  font-weight: 700;
}

.center-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

h3 {
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  font-size: 22px;
  padding-top: 35px;
  padding-bottom: 16px;
}

header {
  background-color: #F0EFE9;
  padding: 16px;
}
header .container {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr auto;
  grid-template-areas: "logo bars";
}
@media (min-width: 992px) {
  header .container {
    grid-template-columns: auto 1fr auto;
    grid-template-areas: "logo cib social" "logo menu menu";
  }
}
header .container .btn-menubars {
  grid-area: bars;
  border: none;
  font-size: 25px;
  background-color: transparent;
}
@media (min-width: 992px) {
  header .container .btn-menubars {
    display: none;
  }
}
header .container .logotype {
  grid-area: logo;
  margin-right: 70px;
}
header .container .contactinformation-bar {
  grid-area: cib;
  display: none;
  justify-content: flex-start;
  align-items: center;
}
@media (min-width: 1200px) {
  header .container .contactinformation-bar {
    display: flex;
  }
}
header .container .contactinformation-bar .content-box {
  padding-right: 30px;
  margin-right: 30px;
  border-right: 1px solid #DAD9D3;
  font-family: "Inter", sans-serif;
  font-size: 15px;
  font-weight: 300;
}
header .container .contactinformation-bar .content-box i {
  margin-right: 5px;
  font-size: 1.2rem;
}
header .container .contactinformation-bar .content-box.last {
  border: none;
}
header .container .socialmedia-bar {
  grid-area: social;
  display: none;
}
@media (min-width: 992px) {
  header .container .socialmedia-bar {
    display: block;
  }
}
header .container .socialmedia-bar a {
  color: #191919;
  font-size: 1.3rem;
  margin-left: 10px;
}
header .container .socialmedia-bar a:hover {
  color: #7c7c7c;
}
header .container .menu {
  grid-area: menu;
  display: none;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #DAD9D3;
  margin-top: 10px;
  padding-top: 10px;
}
@media (min-width: 992px) {
  header .container .menu {
    display: flex;
  }
}
header .container .menu nav a {
  display: inline-block;
  color: #191919;
  text-decoration: none;
  margin-right: 35px;
  position: relative;
}
header .container .menu nav a.active {
  font-weight: 500;
}
header .container .menu nav a.active::after, header .container .menu nav a:hover::after {
  content: "";
  position: absolute;
  font-weight: 500;
  height: 2px;
  width: 15px;
  background-color: #191919;
  left: 50%;
  bottom: -3px;
  transform: translate(calc(50% - 15px));
}
header .container .menu .btn-login {
  padding-top: 12px;
  padding-bottom: 12px;
}

.showcase {
  background-color: #F0EFE9;
}
.showcase .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.showcase .container .content {
  padding-top: 40px;
  padding-bottom: 40px;
  text-align: center;
}
@media (min-width: 1200px) {
  .showcase .container .content {
    text-align: left;
  }
}
.showcase .container .content h1 {
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  font-size: 40px;
}
@media (min-width: 768px) {
  .showcase .container .content h1 {
    font-size: 70px;
  }
}
@media (min-width: 1400px) {
  .showcase .container .content h1 {
    font-size: 86px;
  }
}
.showcase .container .content p {
  font-size: 18px;
  padding-top: 40px;
  padding-bottom: 40px;
  padding-left: 10px;
  padding-right: 10px;
}
@media (min-width: 768px) {
  .showcase .container .content p {
    font-size: 20px;
    padding-left: 0;
    padding-right: 0;
  }
}
.showcase .container .content a {
  margin-right: 0px;
  display: block;
  margin-bottom: 20px;
}
@media (min-width: 768px) {
  .showcase .container .content a {
    display: inline-block;
    margin-right: 10px;
  }
}
.showcase .container img {
  margin-right: -50px;
  display: none;
}
@media (min-width: 1200px) {
  .showcase .container img {
    display: block;
  }
}

.features .container .logos {
  display: flex;
  justify-content: space-between;
  padding: 20px 20px 0 20px;
}
@media (min-width: 992px) {
  .features .container .logos {
    padding: 95px 35px 80px 50px;
  }
}
.features .container .logos img {
  width: 12%;
  height: auto;
}
.features .container .layout {
  display: block;
}
@media (min-width: 992px) {
  .features .container .layout {
    display: flex;
  }
}
@media (min-width: 1520px) {
  .features .container .layout {
    border: 1px solid #DAD9D3;
    margin-left: -100px;
    margin-right: -100px;
  }
}
.features .container .layout .section-title {
  margin-top: -10px;
}
@media (min-width: 992px) {
  .features .container .layout .section-title {
    margin-right: 100px;
    width: 35%;
    height: auto;
    padding-top: 0;
    padding-bottom: 0;
  }
}
@media (min-width: 1520px) {
  .features .container .layout .section-title {
    margin-left: 100px;
    margin-top: 70px;
  }
}
.features .container .layout .section-title p {
  margin-top: -30px;
}
@media (min-width: 992px) {
  .features .container .layout .section-title p {
    margin-top: 30px;
  }
}
.features .container .layout .section-title .btn-yellow {
  margin-top: 25px;
  width: 100%;
}
.features .container .layout .features-text {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
@media (min-width: 992px) {
  .features .container .layout .features-text {
    margin-right: 100px;
    width: 48%;
    height: auto;
    -moz-column-gap: 30px;
         column-gap: 30px;
  }
}
@media (min-width: 1520px) {
  .features .container .layout .features-text {
    margin-top: 70px;
    margin-bottom: 110px;
    margin-right: 200px;
  }
}
.features .container .layout .features-text a {
  margin-left: 40px;
  color: #191919;
  text-decoration: none;
}
.features .container .layout .features-text a img {
  margin-bottom: -40px;
}
@media (min-width: 992px) {
  .features .container .layout .features-text a img {
    margin-top: 50px;
    margin-bottom: -20px;
  }
}

.about-company .container {
  margin-top: 120px;
}
@media (min-width: 992px) {
  .about-company .container {
    display: flex;
  }
}
@media (min-width: 1200px) {
  .about-company .container .img {
    width: 40%;
  }
}
.about-company .container .img img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
@media (min-width: 1200px) {
  .about-company .container .img img {
    margin-left: 50px;
  }
}
.about-company .container .img .founder {
  position: relative;
  top: -220px;
  height: 180px;
  width: 360px;
  background-color: rgb(190, 235, 255);
  padding-top: 30px;
  padding-left: 20px;
}
@media (min-width: 768px) {
  .about-company .container .img .founder {
    left: 32px;
  }
}
@media (min-width: 992px) {
  .about-company .container .img .founder {
    left: 0;
  }
}
.about-company .container .img .founder h4 {
  color: #191919;
  font-family: "Dm Sans", sans-serif;
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 25px;
}
.about-company .container .img .founder h4 span {
  color: #F94D1C;
  font-size: 16px;
}
.about-company .container .section-title {
  margin-top: -200px;
}
@media (min-width: 992px) {
  .about-company .container .section-title {
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 0;
    margin-left: 38px;
  }
}
@media (min-width: 1200px) {
  .about-company .container .section-title {
    width: 40%;
    margin-left: 190px;
  }
}
.about-company .container .section-title h2 {
  margin-top: 30px;
  margin-bottom: 35px;
}
.about-company .container .section-title .regular-text {
  color: #191919;
  font-family: "Inter", sans-serif;
  font-size: 16px;
}
.about-company .container .section-title .buttons {
  margin-top: 60px;
  display: flex;
}
@media (min-width: 992px) {
  .about-company .container .section-title .buttons {
    margin-top: 20px;
  }
}
@media (min-width: 1200px) {
  .about-company .container .section-title .buttons {
    display: flex;
    margin-top: 120px;
    font-size: 1rem;
  }
}
.about-company .container .section-title .buttons .btn-intro {
  margin-left: 30px;
  display: flex;
  align-items: center;
  border: none;
  background-color: white;
}
.about-company .container .section-title .buttons .btn-intro:hover {
  background-color: black;
  color: white;
  border-radius: 25px;
}
.about-company .container .section-title .buttons .btn-intro i {
  margin-right: 19px;
  font-size: 3rem;
}

.project-and-case .container .section-title {
  text-align: center;
}
.project-and-case .container .project-and-cases {
  display: grid;
  grid-template-columns: 1fr;
  gap: 30px;
}
@media (min-width: 768px) {
  .project-and-case .container .project-and-cases {
    grid-template-columns: 1fr 1fr;
  }
}
.project-and-case .container .project-and-cases .project {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
  color: #191919;
  text-decoration: none;
}
.project-and-case .container .project-and-cases .project img {
  width: 100%;
  height: auto;
}
.project-and-case .container .project-and-cases .project h3 {
  border-bottom: 1px solid #DAD9D3;
}
.project-and-case .container .project-and-cases .project .readmore {
  padding: 15px;
  display: block;
  text-align: right;
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-weight: 500;
  text-decoration: none;
  color: #191919;
}
.project-and-case .container .project-and-cases .project .readmore i {
  margin-left: 3px;
}
.project-and-case .container .project-and-cases .project:hover .readmore {
  text-decoration: underline;
}
.project-and-case .container .center-content {
  margin-top: 50px;
  margin-bottom: 90px;
}