@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,300;9..40,400;9..40,500;9..40,600;9..40,700;9..40,800;9..40,900&display=swap');

html, body {
    color: #191919;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
}

.wrapper-grid {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
}

.btn-yellow {
    background-color: #F9D783;
    border: 1px solid #F9D783;
    color: #191919;
    text-decoration: none;
    padding: 15px 30px;
    font-weight: 600;
    font-size: 16px;
    border-radius: 25px;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;

    &:hover {
        background-color: #191919;
        border: 1px solid #191919;
        color: rgb(227, 223, 223);
        box-shadow: 6px 6px 5px 2px #aeacac;
    }

    i {
        margin-left: 8px;
        font-size: 0.9em;
    }
}

header {
    background-color: #F0EFE9;
    padding: 16px;

    .container {
        display: grid;
        align-items: center;
        grid-template-columns:  1fr auto;
        grid-template-areas:    "logo bars";

        .btn-menubars {
            grid-area: bars;
            border: none;
            font-size: 25px;
            background-color: transparent;
        }
    
        .logotype {
            grid-area: logo;
            margin-right: 50px;
        }

        .contactinformation-bar {
            display: none;
        }

        .socialmedia-bar {
            display: none;
        }

        .menu {
            display: none;
        }
    }
}

.lets-connect {
    background-color: #F0EFE9;
    position: relative;
    z-index: 0;
    overflow: hidden;
    padding-top: 60px;
    padding-bottom: 60px;

    .background-lines {
        position: absolute;
        bottom: 0;
        left: 0;
        z-index: -1;
    }

    .container {
        text-align: center;

        nav {
            padding-bottom: 15px;

            a {
                text-decoration: none;
                color: #191919;
                font-weight: 300;
                margin-right: 10px;
            }
        }

        h1 {
            font-family: 'DM Sans', sans-serif;
            font-weight: 700;
            font-size: 40px;
        }
    }
}

.contact-and-message {
    padding-top: 60px;
    padding-bottom: 60px;

    .container {
        
        .contact {
            display: flex;
            flex-direction: column;
            align-items: center;

            .card {
                padding: 30px;
                display: grid;
                grid-template-columns: 1fr 3fr;
                width: 100%;
                max-width: 420px;
                margin-bottom: 20px;
    
                img {
                    width: 50px;
                    height: 50px;
                }
    
                .card-content {
    
                    h3 {
                        font-size: 22px;
                        font-weight: 700;
                        font-family: 'DM Sans', sans-serif;
                    }
    
                    p {
                        font-size: 18px;
                        margin-bottom: 0;
                    }
                }
            }
        }
        
        .message-information {
            background-color:#F0EFE9;
            padding: 30px 20px;

            h2 {
                font-size: 30px;
                font-weight: 700;
                text-align: center;
                margin-bottom: 20px;
            }

            #message {
                
                .form-input {
                    margin-bottom: 15px;
                    width: 100%;
                    padding: 15px 30px;
                    font-size: 16px;
                    border-radius: 25px;
                    border: none;
                }

                #your-message {
                    resize: none;
                    margin-bottom: 40px;
                    border-radius: 30px;
                }
            }    
        }
    }
}

.map {
    background-color: #0E1021;
    
}

.footer-top {
    background-color: #0E1021;
    padding-top: 60px;
    position: relative;
    overflow: hidden;
    z-index: 0;
    
    .background-lines-grey {
        position: absolute;
        right: -130px;
        bottom: -95px;
        z-index: -1;
    }

    .container {

        .logo-text {

            img {
                margin-bottom: 30px;
            }

            p {
                color: #ffffffaa;
                margin-bottom: 50px;
            }
        }

        .info-menu {
            display: grid;
            grid-template-columns: 1fr 1fr;
            row-gap: 30px;

            .info {

                h3 {
                    color: #ffffff;
                    margin-bottom: 15px;
                }

                ul {
                    list-style-type: none;
                    padding: 0;

                    a {
                        text-decoration: none;

                        &:hover {
                            text-decoration: underline;
                            color: #ffffffaa;
                        }

                        li {
                            padding: 8px;
                            padding-left: 0;
                            color: #ffffffaa;
                        }
                    }
                }
            }
        }
    }
}

footer {
    background-color: #0E1021;
    border: 1px solid #7070703f;

    .container {
        padding: 10px 0;

        p {
            color: #ffffffaa;
            text-align: center;
        }

        .social-media {
            display: flex;
            justify-content: center;

            a {    
                margin-right: 15px;

                i {
                    color: #FFFFFF;
                    transition: transform 0.15s ease-in-out, color 0.15s ease-in-out;

                    &:hover {
                        color:#7c7c7c;
                        transform: scale(1.2);
                    }
                }   
            }
        }
    }
}

@media (min-width: 768px) {

    .lets-connect {
        
        .container {

            h1 {
                font-size: 56px;
            }
        }
    }

    .contact-and-message {

        .container {

            .contact {

                .card {
                    padding: 45px;
                }
            }

            .message-information {
                padding: 60px 40px;

                h2 {
                    font-size: 40px;
                }
            }
        }
    }

    .footer-top {

        .container {

            .info-menu {
                display: flex;
                justify-content: space-between;
                padding-bottom: 50px;
            }    
        }
    }

    footer {

        .container {
            display: flex;
            justify-content: space-between;
            padding-top: 34px;
            padding-bottom: 15px;

            .social-media {

                a {
                    margin-right: 0;
                    margin-left: 20px;
                }
            }
        }
    }
}

@media (min-width: 992px) {
    header {

        .container {
            grid-template-columns:  auto 1fr auto;
            grid-template-areas:    "logo cib social"
                                    "logo menu menu";
    
            .btn-menubars {
                display: none;
            }  
            
            .socialmedia-bar {
                grid-area: social;
                display: block;
                
                a {
                    color: #191919;
                    margin-left: 10px;

                    i {
                        font-size: 1.3rem;
                        transition: transform 0.15s ease-in-out, color 0.15s ease-in-out;

                        &:hover {
                            color: #7c7c7c;
                            transform: scale(1.2);
                        }
                    }  
                }
            }
    
            .menu {
                grid-area: menu;
                display: flex;
                justify-content: space-between;
                align-items: center;
                border-top: 1px solid #DAD9D3;
                margin-top: 10px;
                padding-top: 10px;
    
                nav {

                    a {
                        display: inline-block; 
                        color: #191919;
                        text-decoration: none;
                        margin-right: 35px;
                        position: relative;
    
                        &.active {
                            font-weight: 500;
                        }
    
                        &.active::after,
                        &:hover::after {
                            content: "";
                            position: absolute;
                            font-weight: 500;
                            height: 2px;
                            width: 15px;
                            background-color: #191919;
                            left: 50%;
                            bottom: -3px;
                            transform: translate((calc(50% - 15px)));
                        }
                    }
                }
    
                .btn-login {
                    padding-top: 12px;
                    padding-bottom: 12px;
                }
            }
        }
    }

    .contact-and-message {

        .container {
            
            .contact {
                flex-direction: row;
                justify-content: space-between;

                .card {
                    padding: 25px;
                    max-width: 300px;
                }
            }
        }     
    }

    .footer-top {

        .container {
            display: flex;
            justify-content: space-between;

            .logo-text {
                width: 27%;
                margin-right: 50px;
                padding-bottom: 50px;
            }

            .info-menu {
                width: 73%;
                padding-top: 25px;

                .info {

                    h3 {
                        margin-right: 35px;
                        margin-bottom: 30px;
                    }
                }  
            }
        }
    }
}

@media (min-width: 1200px) {
    header {

        .container {

            .contactinformation-bar {
                display: flex;
        
                .content-box {
                    padding-right: 30px;
                    margin-right: 15px;
                    border-right: 1px solid #DAD9D3;
                    font-size: 15px;
                    font-weight: 300;
        
                    i {
                        margin-right: 5px;
                        font-size: 1.2rem;
                    }
        
                    &.last {
                        border: none;
                    }
                }
            }
        }
    }

    .lets-connect {
        padding-top: 105px;
        padding-bottom: 90px;
    }

    .contact-and-message {
        padding-top: 120px;
        padding-bottom: 120px;

        .container {

            .contact {
                margin-bottom: 80px;

                .card {
                    padding-top: 50px;
                    padding-bottom: 50px;
                    max-width: 360px;
    
                    img {
                        margin-left: 10px;
                        margin-right: 20px;
                    }
    
                    .card-content {
    
                        h3 {
                            margin-bottom: 20px;
                        }
                    }
                }
            }

            .message-information {
                padding: 120px 150px 100px 150px;

                h2 {
                    font-size: 45px;
                }
            }
        }
    }

    .map {

        iframe {
            height: 620px;
        }
    }

    .footer-top {
        padding-top: 110px;
        padding-bottom: 15px;
    }
}

@media (min-width: 1400px) {
    .contact-and-message {

        .container {

            .contact {

                .card {
                    max-width: 420px;
                    padding-left: 60px;
    
                    img {
                        margin-left: 0;
                        margin-top: -10px;
                        height: 60px;
                        width: 60px;
                    }
                }
            }
        }
    }

    .footer-top {

        .container {

            .logo-text {
                margin-right: 100px;
            }
        }
    }
}  